html {
	
}
body {
	margin: 0px;
	padding: 0px;
}
.clear {
	clear: both;
}
#map_canvas {
	height: 100%;
	width: 100%;
}
#header {
	height: 45px;
}
#sidebar {
	position: relative;
	width: 150px;
}
#content-container {
	background: none repeat scroll 0 0 #404040;
    height: 100%;
    min-width: 1000px;
    position: absolute;
    width: 100%;
    z-index: 494;
}
.shipHover {
	margin-top: 7px;
	background: black; color : #fff;
	font: 9px verdana;
	padding: 5px;
	color: #fff;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.infoBox {
	background: url('../img/boxTip.png') no-repeat;
	opacity: 0.75;
	width: 150px;
}