html {
	
}

body {
	margin: 0px;
	padding: 0px;
	font-family: Verdana;
	font-size: 0.8em;
}

.clear {
	clear: both;
}

#mapCanvas {
	height: 100%;
	width: 100%;
}

#sideBar {
    background: none repeat scroll 0 0 #E0E0E0;
    border-right: 2px solid #B5B5B5;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 220px;
    float: left;
}

#contentContainer {
	background: none repeat scroll 0 0 #404040;
	height: 100%;
	min-width: 1000px;
	position: absolute;
	left: 222px;
	right: 0px;
}

#detailsRow {
	display: table-row;
}

#detailsLeftCol {
	display: table-cell;
}

#detailsRightCol {
	display: table-cell;
}

.sidebarElement {
	width: 214px;
	position: relative;
	margin: 3px auto;
	font-size: 0.8em;
}

#targetDetails {	
		
}

#targetDetailsTable {
	display: table;
	border-spacing: 2px;
}

.shipHover {
	margin-top: 7px;
	background: black;
	color: #fff;
	font: 9px verdana;
	padding: 5px;
	color: #fff;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
}

.infoBox {
	background: url('../img/boxTip.png') no-repeat;
	opacity: 0.75;
	width: 100px;
}

h3 {
	font-size: 1.2em;
	font-weight: bold;
}
